body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    background-color: rgb(221, 227, 230);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(167, 167, 209);
    border: 1px solid #ccc;
}
h1 {
    text-align: center;
    color: #333;
    font-size: 35px;
}
h2 {
    text-decoration:underline;
    color: #333;
    margin-bottom: 10px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"], textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #35378f;
    border-radius: 10px;
    box-shadow: 0 0 10px #35378f;
}
button {
    width: 100%;
    padding: 10px;
    background-color: rgb(17, 17, 80);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(167, 167, 207);
}
#resume-output {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid skyblue;
    border-radius: 8px;
}
